/* custom fonts */

@font-face {
  font-family: "Optimus Princeps";
  src: url('fonts/OptimusPrinceps.ttf');
}

@font-face {
  font-family: "Thryromanes";
  src: url('fonts/Thryromanes.ttf');
}

/* CSS classes */

.title * {
  font-family: "Optimus Princeps";
  color: black;
  text-decoration: none;
}

.title *:hover {
  color: darkred;
}

.topnav * {
  text-decoration: none;
  color: black;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: -1em;
  text-align: center;
}

.topnav *:hover {
  color: darkred;
}

.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.date-listing {
    font-style: italic
}

.footer {
  font-size: 10pt;
}

/* standard html element style */

body {
  font-family: "Thryromanes";
  background-color: #fffffc;
  color: black;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: justify;
  margin: auto;
}

h1, h3 {
  font-family: "Thryromanes";
  text-align: left;
}

h2 {
  font-family: "Optimus Princeps";
  text-align: left;
}

p, ul, ol { 
  font-family: "Thryromanes"; 
}

a {
    color: darkred
}

img {
  max-height: 40%;
  width: auto;
  margin: 1%;
}

hr {
  color: black;
  width: 100%;
}

/* Media queries for smaller screen-sizes */

@media screen and (max-width: 62em) {
  body {
    width: 90%;
    font-size: 1em;
  }
  .topnav * {
    font-size: 1em;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: -1em;
  }
}
